::ng-deep {
  .custom-slider .ngx-slider .ngx-slider-bar {
    background: #a5f0b5;
    height: 2px;
  }
  .custom-slider .ngx-slider .ngx-slider-selection {
    background: rgb(22, 230, 91);
    height: 5px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer {
    width: 8px;
    height: 15px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ngx-slider .ngx-slider-pointer:after {
    display: none;
  }

  .custom-slider .ngx-slider .ngx-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ngx-slider .ngx-slider-limit {
    font-weight: bold;
    color: rgb(0, 0, 0);
  }

  .custom-slider .ngx-slider .ngx-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #ffe4d1;
    top: -1px;
  }

  .custom-slider .ngx-slider .ngx-slider-tick.ngx-slider-selected {
    background: rgb(0, 0, 0);
  }
}

input {
  border-radius: 5px;
  border-color: black;
  margin: 0 10%;
}
